@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400');
.Clock {
  color: rgb(0, 0, 0);
  font-family: 'Montserrat', sans-serif;  
  font-weight: 100;
  font-size: 80px;
  display: flex;
  align-items: center;
}