@import url('https://fonts.googleapis.com/css?family=Montserrat:100,400');
.Clock {
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
