body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
p {
  color: rgb(58, 242, 73);
  font-size: 56px;
  font-family: Palatino, 'Palatino Linotype', serif
}
h2 {
  font-family: Palatino, 'Palatino Linotype', serif;
      font-size: 2vw;
}
img {
  size: 20px;
}
h4 {
  font-family: Palatino, 'Palatino Linotype', serif
}
h7 {
  color: rgb(66, 134, 244);
  font-size: 30px;
}

h5 {
  color: rgb(300, 125, 40);
  font-family: "Arial Black", Gadget, sans-serif
}
h10 {
  font-family: Palatino, 'Palatino Linotype', serif;
      font-size: 2vw;
      color: rgb(0,0,0);
}
h11 {
font-family: Palatino, 'Palatino Linotype', serif;
    font-size: 2vw;
          color: rgb(0,0,0);
}
h12 {
    font-size: 2vw;
    font-family:Impact, Charcoal, sans-seri;
          color: rgb(0,0,0);
}

backgroundImage {
  font-size: 1vw
}
li {
        color: rgb(0,0,0);
}
h14 {
    font-size: 3vw;
    font-family:Impact, Charcoal, sans-serif;
  color: rgb(0, 0, 0) 
}
li {
  font-size: 2vw
}
h15 {
  font-size: 50px;
  color: rgb(58, 242, 73);
  font-family: Palatino, 'Palatino Linotype', serif
}
h16 {
  font-size: 50px;
  font-family: Palatino, 'Palatino Linotype', serif
}

.btn btn-success {
  font-size: 50px;
}
.storelinks {
  font-size: 50px;  
}
h22 {
  font-size: 50px;
  font-family: "Times New Roman", Georgia, Serif;
}
h23 {
  background-size: 30px;
}
h25 {
  font-size: '4vw';
  color: #ffffff;
}
h26 {
  color: #ffffff;
}
.Hello {
  color: #ffffff;
}
.wassaphi {
  color: #ffffff;
}
.btn btn-success {
  background-color: blue
}
h28 {
  color: white;
  font-size: '4vw';
}
h24 {
  color: white;
  font-size: '4vw';
}
